{% extends 'base.html.twig' %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        $(".loadarticles").on("click", function (event) {
            $.ajax({
                url: '/reha/rehawalbrzych/my-project/public/article/5',
                type: 'PUT',
                data: {title: "John"},
                dataType: 'json',
                async: true,

                success: function (data, status) {
                    var e = $('<tr><th>Name</th><th>Address</th></tr>');
                    $('#student').html('');
                    $('#student').append(e);

                    for (i = 0; i < data.length; i++) {
                        student = data[i];
                        var e = $('<tr><td id = "name"></td><td id = "address"></td></tr>');

                        $('#name', e).html(student['title']);
                        $('#address', e).html(student['body']);
                        $('#student').append(e);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Ajax request failed.');
                }
            });
        });
    });
</script>
{% endblock %}

{% block body %}
<h1>Artykuły</h1>
<table class="table table-hover">
    <tr>
        <th>Tytuł Artykułu</th>
        <th>Treść</th>
        <th>ID Galerii</th>
        <th>Podaj tytuł nowego artykułu</th>
        <th class="text-right">Akcje</th>
    </tr>
    {% for article in articles %}
    <tr>
        <td>{{ article.artTitle }}</td>
        <td>{{ article.artBody }}</td>
        <td>{{ article.artId }}</td>
        <form action="/reha/rehawalbrzych/my-project/public/article/test" method="post">
            <td><input type="text" placeholder="Wpisz tytuł" name="title"></td>
            <td class="text-right">
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </td>
        </form>
        <td>
            <button class="loadarticles">AJAX test</button>
        </td>

    </tr>
    {% endfor %}
</table>
<table class="table table-hover">
    <tbody id = "student"></tbody>
</table>
{% endblock %}