# Przekierowanie do https

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://rehawalbrzych.pl/$1 [R,L]

# Przekierowanie z https://www do https:/

RewriteCond %{HTTP_HOST} ^www\.rehawalbrzych\.pl$
RewriteRule ^/?$ "http\:\/\/rehawalbrzych\.pl\/" [R=301,L]

# Pozbycie się index.php z URL
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [QSA,L]
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=302]
#RewriteCond %{HTTPS} != on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=302]


## Zmienne środowiskowe

SetEnv APP_ENV prod
SetEnv DATABASE_URL 'mysql://rehawalb_admin:reha1234@127.0.0.1:3306/rehawalb_rehawalbrzych'

#<IfModule mod_rewrite.c>
#  RewriteEngine On
#  RewriteBase /
#  RewriteRule ^index\.php$ - [L]
#  RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteCond %{REQUEST_FILENAME} !-d
#  RewriteRule . index.php [L]
#</IfModule>